@{
    ViewBag.Title = "Home Page";
}
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<style>
    .fancy {
        text-decoration: underline;
        color: red;
        font-family: Pacifico;
    }

    .backColor {
        background: rgba(23, 23, 40, 0.4);
        border-radius: 5px;
        padding: 5px;
    }
    .padTop { padding-top:20px;
    }
</style>
<div class="padTop"></div>
<div class="jumbotron">
    <h1 class="fancy">Assignment 9</h1>
    <p class="lead">A Web App for Record Label Companies</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment8.html" target="_blank" class="btn btn-primary btn-lg">More Info &raquo;</a></p>
</div>
<div class="backColor">
    <div class="row">
        <div class="col-md-4">
            <h2>About this web app</h2>
            <p><img src="https://img.clipartfest.com/5d86c95edfe73e28cbcb65a6ac36d995_music20clipart-musical-symbols-clip-art_456-599.png" alt="Music Image" height="112" width="112"></p>
            <p>This web app allows the organization of various artist, album, and track data</p>
            <p>This template also includes graceful error-handling. </p>
        </div>
        <div class="col-md-4">
            <h2>By: Michael Pierre</h2>
            <p></p>
            <p> </p>
        </div>
    </div>
</div>